<!-- your html code here -->

<div class="container">
    <div class="row mt-3 d-flex align-items-center border-top">
        <div class="col-4 mt-3">
            <img  class="rounded-circle " src="https://i.scdn.co/image/ab67656300005f1fa26028c61b946b8d220e631c" alt="Señor con barba">
        </div>
        <div class="col-8 mt-3">
            <p><span class="h3 text-black">This first heading</span><span class="h3 text-success"> will catch your eyes</span></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere tempore reprehenderit corporis magni totam commodi, mollitia aut nemo asperiores illo dolor natus error ratione fugit maiores minima quaerat ut! Inventore!</p>
        </div>
    </div>
</div>
